  
  .btn.primary {
    margin: 5px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(13, 106, 192);
  }
  
  .btn.primary:hover {
    padding: 6px 18px;
    background-color: rgb(2, 129, 248);
    color: #fff;
    border-radius: 4px;
    border: 2px solid;
    transition: all 0.3s ease-out;
  }

  .btn.success {
    margin: 5px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(5, 138, 38);
  }
  
  .btn.success:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color:rgb(12, 160, 49);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 2px solid;
    transition: all 0.3s ease-out;
  }